In [2]:
pip install pandas==1.5.3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas==1.5.3
  Downloading pandas-1.5.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 38.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.8/dist-packages (from pandas==1.5.3) (1.21.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas==1.5.3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas==1.5.3) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.3) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
Successfully installed pandas-1.5.3

In [3]:
import pandas as pd
pd.__version__

'1.5.3'

- RAM 부족으로 colab에서 부분 나눠서 진행

# 데이터프레임 합치기

## 아파트 매매 정보

In [ ]:
final_deal = pd.read_pickle('/content/drive/MyDrive/house_price/final_deal.pkl')
final_deal

,year,month,day,address_1,address_2,address_3,address_4,deal_price
0,2011,1,1,강남구,개포동,12,0,0
1,2011,1,1,강남구,개포동,12,2,0
2,2011,1,1,강남구,개포동,138,0,0
3,2011,1,1,강남구,개포동,140,0,0
4,2011,1,1,강남구,개포동,141,0,0
...,...,...,...,...,...,...,...,...
38833375,2022,12,31,중랑구,중화동,438,0,69500
38833376,2022,12,31,중랑구,중화동,450,0,91500
38833377,2022,12,31,중랑구,중화동,452,0,55000
38833378,2022,12,31,중랑구,중화동,453,0,85500
38833379,2022,12,31,중랑구,중화동,454,0,96000

In [ ]:
final_deal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38833380 entries, 0 to 38833379
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   year        int16
 1   month       int16
 2   day         int16
 3   address_1   object
 4   address_2   object
 5   address_3   int16
 6   address_4   int16
 7   deal_price  int32
dtypes: int16(5), int32(1), object(2)
memory usage: 1.1+ GB

## 아파트 전세 정보

In [ ]:
final_full_rent = pd.read_pickle('/content/drive/MyDrive/house_price/final_full_rent.pkl')
final_full_rent

,year,month,day,address_1,address_2,address_3,address_4,full_rent_price
0,2011,1,1,강남구,개포동,12,0,0
1,2011,1,1,강남구,개포동,12,2,0
2,2011,1,1,강남구,개포동,138,0,0
3,2011,1,1,강남구,개포동,140,0,0
4,2011,1,1,강남구,개포동,141,0,0
...,...,...,...,...,...,...,...,...
40577809,2022,12,31,중랑구,중화동,438,0,32000
40577810,2022,12,31,중랑구,중화동,450,0,32500
40577811,2022,12,31,중랑구,중화동,452,0,33000
40577812,2022,12,31,중랑구,중화동,453,0,57750
40577813,2022,12,31,중랑구,중화동,454,0,40000

In [ ]:
final_full_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40577814 entries, 0 to 40577813
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int16
 1   month            int16
 2   day              int16
 3   address_1        object
 4   address_2        object
 5   address_3        int16
 6   address_4        int16
 7   full_rent_price  int32
dtypes: int16(5), int32(1), object(2)
memory usage: 1.1+ GB

### merge - 거래, 전세

In [ ]:
final_deal_full_rent = pd.merge(final_deal,final_full_rent, on =['year','month','day','address_1','address_2','address_3','address_4'], how='inner')

In [ ]:
final_deal_full_rent.head()

,year,month,day,address_1,address_2,address_3,address_4,deal_price,full_rent_price
0,2011,1,1,강남구,개포동,12,0,0,0
1,2011,1,1,강남구,개포동,12,2,0,0
2,2011,1,1,강남구,개포동,138,0,0,0
3,2011,1,1,강남구,개포동,140,0,0,0
4,2011,1,1,강남구,개포동,141,0,0,0

In [ ]:
# 1차적으로 합친거 확인인
final_deal_full_rent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37816524 entries, 0 to 37816523
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int16
 1   month            int16
 2   day              int16
 3   address_1        object
 4   address_2        object
 5   address_3        int16
 6   address_4        int16
 7   deal_price       int32
 8   full_rent_price  int32
dtypes: int16(5), int32(2), object(2)
memory usage: 1.5+ GB

### 중간 저장 - RAM의 부족으로 나눠서 저장

In [ ]:
# 파일 저장하기
# final_df.to_pickle('/content/drive/MyDrive/house_price/final_deal_full_rent.pkl')

### 저장한 정보 확인

In [ ]:
# 파일 불러오기기
final_deal_full_rent = pd.read_pickle('/content/drive/MyDrive/house_price/final_deal_full_rent.pkl')

In [ ]:
final_deal_full_rent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37816524 entries, 0 to 37816523
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int16
 1   month            int16
 2   day              int16
 3   address_1        object
 4   address_2        object
 5   address_3        int16
 6   address_4        int16
 7   deal_price       int32
 8   full_rent_price  int32
dtypes: int16(5), int32(2), object(2)
memory usage: 1.5+ GB

## 아파트 월세 정보

In [ ]:
# 정보 불러오기기
final_year_rent = pd.read_pickle('/content/drive/MyDrive/house_price/final_year_rent.pkl')
final_year_rent

,year,month,day,address_1,address_2,address_3,address_4,year_rent_price
0,2011,1,1,강남구,개포동,12,0,0
1,2011,1,1,강남구,개포동,12,2,0
2,2011,1,1,강남구,개포동,138,0,0
3,2011,1,1,강남구,개포동,140,0,0
4,2011,1,1,강남구,개포동,141,0,0
...,...,...,...,...,...,...,...,...
36633109,2022,12,31,중랑구,중화동,438,0,389
36633110,2022,12,31,중랑구,중화동,450,0,2090
36633111,2022,12,31,중랑구,중화동,452,0,1610
36633112,2022,12,31,중랑구,중화동,453,0,2070
36633113,2022,12,31,중랑구,중화동,454,0,2140

In [ ]:
final_year_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36633114 entries, 0 to 36633113
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int16
 1   month            int16
 2   day              int16
 3   address_1        object
 4   address_2        object
 5   address_3        int16
 6   address_4        int16
 7   year_rent_price  int32
dtypes: int16(5), int32(1), object(2)
memory usage: 1.0+ GB

### merge - (거래, 전세), 월세

In [ ]:
final_df = pd.merge(final_deal_full_rent, final_year_rent, on =['year','month','day','address_1','address_2','address_3','address_4'], how='inner')
final_df.head()

,year,month,day,address_1,address_2,address_3,address_4,deal_price,full_rent_price,year_rent_price
0,2011,1,1,강남구,개포동,12,0,0,0,0
1,2011,1,1,강남구,개포동,12,2,0,0,0
2,2011,1,1,강남구,개포동,138,0,0,0,0
3,2011,1,1,강남구,개포동,140,0,0,0,0
4,2011,1,1,강남구,개포동,141,0,0,0,0

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33117948 entries, 0 to 33117947
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int16
 1   month            int16
 2   day              int16
 3   address_1        object
 4   address_2        object
 5   address_3        int16
 6   address_4        int16
 7   deal_price       int32
 8   full_rent_price  int32
 9   year_rent_price  int32
dtypes: int16(5), int32(3), object(2)
memory usage: 1.4+ GB

In [ ]:
# 파일 저장하기기
final_df.to_pickle('/content/drive/MyDrive/house_price/final_df.pkl')

# 아파트 가치평가 지표들 생성

## 기존 데이터 프레임에서 0값들 제거

In [4]:
# 저장한 파일 불러오기
final_df = pd.read_pickle('/content/drive/MyDrive/house_price/final_df.pkl')
final_df.head()

,year,month,day,address_1,address_2,address_3,address_4,deal_price,full_rent_price,year_rent_price
0,2011,1,1,강남구,개포동,12,0,0,0,0
1,2011,1,1,강남구,개포동,12,2,0,0,0
2,2011,1,1,강남구,개포동,138,0,0,0,0
3,2011,1,1,강남구,개포동,140,0,0,0,0
4,2011,1,1,강남구,개포동,141,0,0,0,0

In [5]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33117948 entries, 0 to 33117947
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int16
 1   month            int16
 2   day              int16
 3   address_1        object
 4   address_2        object
 5   address_3        int16
 6   address_4        int16
 7   deal_price       int32
 8   full_rent_price  int32
 9   year_rent_price  int32
dtypes: int16(5), int32(3), object(2)
memory usage: 1.4+ GB

In [6]:
final_df.drop(final_df[(final_df.deal_price == 0)|(final_df.full_rent_price == 0)|(final_df.year_rent_price == 0)].index, inplace=True)
final_df.reset_index(drop=True,inplace=True)

In [7]:
final_df.head()

,year,month,day,address_1,address_2,address_3,address_4,deal_price,full_rent_price,year_rent_price
0,2011,1,5,강남구,개포동,138,0,89400,11000,778
1,2011,1,5,강남구,개포동,185,0,89000,22000,1786
2,2011,1,6,강남구,개포동,138,0,89400,7500,778
3,2011,1,6,강남구,개포동,185,0,89000,30666,1424
4,2011,1,7,강남구,개포동,12,0,35000,24000,1196

In [8]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24144106 entries, 0 to 24144105
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int16
 1   month            int16
 2   day              int16
 3   address_1        object
 4   address_2        object
 5   address_3        int16
 6   address_4        int16
 7   deal_price       int32
 8   full_rent_price  int32
 9   year_rent_price  int32
dtypes: int16(5), int32(3), object(2)
memory usage: 875.0+ MB

## 평가지표 컬럼들 추가

In [9]:
# 전세가율, 연세가율을 구함함
final_df['deal_to_full_rent_rate'] = final_df['deal_price']/final_df['full_rent_price']
final_df['deal_to_year_rent_rate'] = final_df['deal_price']/final_df['year_rent_price']
final_df

,year,month,day,address_1,address_2,address_3,address_4,deal_price,full_rent_price,year_rent_price,deal_to_full_rent_rate,deal_to_year_rent_rate
0,2011,1,5,강남구,개포동,138,0,89400,11000,778,8.127273,114.910026
1,2011,1,5,강남구,개포동,185,0,89000,22000,1786,4.045455,49.832027
2,2011,1,6,강남구,개포동,138,0,89400,7500,778,11.920000,114.910026
3,2011,1,6,강남구,개포동,185,0,89000,30666,1424,2.902237,62.500000
4,2011,1,7,강남구,개포동,12,0,35000,24000,1196,1.458333,29.264214
...,...,...,...,...,...,...,...,...,...,...,...,...
24144101,2022,12,31,중랑구,중화동,438,0,69500,32000,389,2.171875,178.663239
24144102,2022,12,31,중랑구,중화동,450,0,91500,32500,2090,2.815385,43.779904
24144103,2022,12,31,중랑구,중화동,452,0,55000,33000,1610,1.666667,34.161491
24144104,2022,12,31,중랑구,중화동,453,0,85500,57750,2070,1.480519,41.304348
24144105,2022,12,31,중랑구,중화동,454,0,96000,40000,2140,2.400000,44.859813

In [10]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24144106 entries, 0 to 24144105
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   year                    int16
 1   month                   int16
 2   day                     int16
 3   address_1               object
 4   address_2               object
 5   address_3               int16
 6   address_4               int16
 7   deal_price              int32
 8   full_rent_price         int32
 9   year_rent_price         int32
 10  deal_to_full_rent_rate  float64
 11  deal_to_year_rent_rate  float64
dtypes: float64(2), int16(5), int32(3), object(2)
memory usage: 1.2+ GB

In [11]:
# 소수점 자리 수정정
final_df['deal_to_full_rent_rate'] = final_df['deal_to_full_rent_rate'].astype(float).round(2)
final_df['deal_to_year_rent_rate'] = final_df['deal_to_year_rent_rate'].astype(float).round(2) # 반올림이 되지 않아서 따로 실행행

In [12]:
# 타입변경
final_df = final_df.astype({'deal_to_full_rent_rate':'float32', 'deal_to_year_rent_rate':'float32'})
final_df

,year,month,day,address_1,address_2,address_3,address_4,deal_price,full_rent_price,year_rent_price,deal_to_full_rent_rate,deal_to_year_rent_rate
0,2011,1,5,강남구,개포동,138,0,89400,11000,778,8.13,114.910004
1,2011,1,5,강남구,개포동,185,0,89000,22000,1786,4.05,49.830002
2,2011,1,6,강남구,개포동,138,0,89400,7500,778,11.92,114.910004
3,2011,1,6,강남구,개포동,185,0,89000,30666,1424,2.90,62.500000
4,2011,1,7,강남구,개포동,12,0,35000,24000,1196,1.46,29.260000
...,...,...,...,...,...,...,...,...,...,...,...,...
24144101,2022,12,31,중랑구,중화동,438,0,69500,32000,389,2.17,178.660004
24144102,2022,12,31,중랑구,중화동,450,0,91500,32500,2090,2.82,43.779999
24144103,2022,12,31,중랑구,중화동,452,0,55000,33000,1610,1.67,34.160000
24144104,2022,12,31,중랑구,중화동,453,0,85500,57750,2070,1.48,41.299999
24144105,2022,12,31,중랑구,중화동,454,0,96000,40000,2140,2.40,44.860001

In [13]:
# null 값들과 inf 값들 있는지 확인인
import numpy as np
print(final_df.isnull().sum())

final_df.replace([np.inf, -np.inf], np.nan, inplace=True)
var = final_df.isnull().sum()
print(var.to_string())

year                      0
month                     0
day                       0
address_1                 0
address_2                 0
address_3                 0
address_4                 0
deal_price                0
full_rent_price           0
year_rent_price           0
deal_to_full_rent_rate    0
deal_to_year_rent_rate    0
dtype: int64
year                      0
month                     0
day                       0
address_1                 0
address_2                 0
address_3                 0
address_4                 0
deal_price                0
full_rent_price           0
year_rent_price           0
deal_to_full_rent_rate    0
deal_to_year_rent_rate    0

In [14]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24144106 entries, 0 to 24144105
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   year                    int16
 1   month                   int16
 2   day                     int16
 3   address_1               object
 4   address_2               object
 5   address_3               int16
 6   address_4               int16
 7   deal_price              int32
 8   full_rent_price         int32
 9   year_rent_price         int32
 10  deal_to_full_rent_rate  float32
 11  deal_to_year_rent_rate  float32
dtypes: float32(2), int16(5), int32(3), object(2)
memory usage: 1.0+ GB

In [ ]:
final_df.to_pickle('/content/drive/MyDrive/house_price/final_df2.pkl')